<%= link_to "Add a pokemon", new_postedpokemon_path, class: "details-btn" %>


<div class="d-flex">


  <div class="cardos mt-3">
    <% @posted_pokemons.each do |posted_pokemon| %>
      <div class="cardo">
      <% if posted_pokemon.pokemon.shiny_flag == true %>
        <% loic = posted_pokemon.pokemon.shiny_img_url %>
        <% else %>
        <% loic = posted_pokemon.pokemon.regular_img_url %>
        <% end %>
      <img src= <%= loic%> alt="">
        <div class="cardoinfo">

          <div class="blacktext"><%= posted_pokemon.pokemon.name %></div>

          <%= link_to "See details", postedpokemons_path(pokemon: posted_pokemon.id) , class: "details-btn" %>
        </div>
      </div>
    <% end %>
  </div>



  <div>
    <h2>Show du Pokemon cliqué</h2>
    <p><%= @show_pokemon.pokemon.name %></p>
    <p><%= @show_pokemon.level %></p>
    <p><%= @show_pokemon.gender %></p>



  </div>
</div>
